<html>
<head>
<title>The Metrics</title>
<link rel="stylesheet" href="/bamboo/download/resources/prom.atlas.plugins.bamboo-prom-exporter-ui/bootstrap/css/bootstrap.css"></link>
<style>
body {
	font-size: 10pt;
}

#wrapper {
	justify-content: center;
}

#classnameinput {
   width: 100%;
}

#remove_button{
  font-size: 8pt;
}


</style>
</head>
<body>
	<script type="text/javascript" src="/bamboo/download/resources/prom.atlas.plugins.bamboo-prom-exporter-ui/bootstrap/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/bamboo/download/resources/prom.atlas.plugins.bamboo-prom-exporter-ui/bootstrap/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/bamboo/download/resources/prom.atlas.plugins.bamboo-prom-exporter-ui/bootstrap/js/bootstrap.js"></script>

	<div>
		<div>
			<table class="table table-hover" id=metric_table>
				<thead class="thead-dark">
					<tr>
						<th scope="col">
							<div class="th-inner ">Class Name</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">
							<div class="th-inner ">Test Name</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">
							<div class="th-inner ">Test Type</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">
							<div class="th-inner ">Branch</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">
							<div class="th-inner ">Plan</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">
							<div class="th-inner ">Job</div>
							<div class="fht-cell">
								<div class="filter-control">
									<input type="text"
										class="form-control bootstrap-table-filter-control-name"
										style="width: 100%; visibility: visible" placeholder=""
										value="">
								</div>
							</div>
						</th>
						<th scope="col">Test Duration</th>
						<th scope="col">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button title="Clears search fields without removing metrics" type="button" class="btn btn-primary" id="btn_clear" onclick="clearFields()">Clear</button>
								<button title="Removes according to filtering" type="button" class="btn btn-danger" id="btn_remove" onclick="deleteByLabels()">Remove</button>
							</div>
						</th>
					</tr>
				</thead>
				<tbody id="table_contents">
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		var array;
		document.addEventListener("DOMContentLoaded", function(event) {
			addEventListeners();
			fillTable();
		});
		
		function fillTable(){
			var request = new XMLHttpRequest();
			request.open('GET',
					'/bamboo/plugins/servlet/metrics',
					true);
			request.responseType = 'json'
			request.onload = function() {
				var status = request.status;
				if (status === 200) {
					array = request.response;
					createTable(array);
				}
			};
			request.send();
		};
	
		function clearFields(){
			var fields = document.getElementsByClassName("form-control bootstrap-table-filter-control-name");
			for (index in fields){
				fields[index].value="";
			}
			fillTable();
		};
		
		function deleteByLabels(){
			var fields = document.getElementsByClassName("form-control bootstrap-table-filter-control-name");
			var parameters="";
			
			if (fields[0].value !== ""){
				parameters+='ClassName=' + fields[0].value + '&'
			}
			
			if (fields[1].value !== ""){
				parameters+='TestName=' + fields[1].value + '&'
			}
			
			if (fields[2].value !== ""){
				parameters+='TestType=' + fields[2].value + '&'
			}
			
			if (fields[3].value !== ""){
				parameters+='Branch=' + fields[3].value + '&'
			}
			
			if (fields[4].value !== ""){
				parameters+='Plan=' + fields[4].value + '&'
			}
			
			if (fields[5].value !== ""){
				parameters+='Job=' + fields[5].value + '&'
			}
			
			if (parameters===""){
				return;
			}
			var request = new XMLHttpRequest();
			request.open('DELETE','/bamboo/plugins/servlet/metrics?'+encodeURI(parameters), true);
			request.onreadystatechange = function() {
			if (this.status == 204) {
					clearFields();
				}
			};
			request.send(null);
			
		};
		
		function createTable(array){
			$("#table_contents").empty();
			var table_contents = document.getElementById("table_contents");
			for (i in array) {
				var tr = document.createElement("tr");
				var ClassName = document.createElement("td");
				var TestName = document.createElement("td");
				var TestType = document.createElement("td");
				var Branch = document.createElement("td");
				var Plan = document.createElement("td");
				var Job = document.createElement("td");
				var Value = document.createElement("td");
				var BtnRemove = document.createElement("td");
				ClassName.innerHTML = array[i].ClassName;
				tr.appendChild(ClassName);
				TestName.innerHTML = array[i].TestName;
				tr.appendChild(TestName);
				TestType.innerHTML = array[i].TestType;
				tr.appendChild(TestType);
				Branch.innerHTML = array[i].Branch;
				tr.appendChild(Branch);
				Plan.innerHTML = array[i].Plan;
				tr.appendChild(Plan);
				Job.innerHTML = array[i].Job;
				tr.appendChild(Job);
				Value.innerHTML = array[i].Value;
				tr.appendChild(Value);
				var btnDiv = document.createElement("div");
				btnDiv.className = "row align-items-center";
				btnDiv.setAttribute("id", "wrapper");
				var button = document.createElement("button");
				button.className = "btn btn-dark btn-sm";
				button.type = "button";
				button.innerHTML="X";
				button.style.fontWeight = "bold";
				button.setAttribute("id", "remove_button");
				button.onclick = function deleteRow(r) {
					var table = document.getElementById("metric_table");
					var index = r.toElement.parentElement.parentElement.parentElement.rowIndex;
					var row = table.rows[index];
					var parameters ='ClassName=' + row.children[0].textContent + '&'
						+'TestName='  + row.children[1].textContent + '&'
						+'TestType=' + row.children[2].textContent + '&'
						+'Branch=' + row.children[3].textContent + '&'
						+'Plan=' + row.children[4].textContent + '&'
						+'Job=' + row.children[5].textContent + '&';
						var request = new XMLHttpRequest();
						request.open('DELETE','/bamboo/plugins/servlet/metrics?'+ encodeURI(parameters), true);
						request.onreadystatechange = function() {
							if (this.status == 204) {
								 table.deleteRow(index);
							}
						};
						request.send(null);	
						}
				btnDiv.appendChild(button);
				BtnRemove.appendChild(btnDiv);
				tr.appendChild(BtnRemove);
				table_contents.appendChild(tr);
			}
		};
		
		function addEventListeners() {
			var inputs = document
					.getElementsByClassName("form-control bootstrap-table-filter-control-name");

			for (var i = 0; i < inputs.length; i++) {
				inputs[i]
						.addEventListener(
								'input',
								function() {
									setTimeout(
											function() {
												var new_array;
												$("#table_contents").empty();
												var fields = document
														.getElementsByClassName("form-control bootstrap-table-filter-control-name");
												new_array = array
														.filter(function(item) {
															if (fields[0].value !== "") {
																if (item.ClassName !== fields[0].value) {
																	return false;
																}
															}
															if (fields[1].value !== "") {
																if (item.TestName !== fields[1].value) {
																	return false;
																}
															}

															if (fields[2].value !== "") {
																if (item.TestType !== fields[2].value) {
																	return false;
																}
															}

															if (fields[3].value !== "") {
																if (item.Branch !== fields[3].value) {
																	return false;
																}
															}

															if (fields[4].value !== "") {
																if (item.Plan !== fields[4].value) {
																	return false;
																}
															}

															if (fields[5].value !== "") {
																if (item.Job !== fields[5].value) {
																	return false;
																}
															}
															return true;
														});

												createTable(new_array);
											}, 1000);
								}, false);
			}
		};
	</script>
</body>
</html>